.authors {
  display: flex;
  flex-flow: column;
  align-self: center;
  justify-content: flex-start;
  width: 90%;
  height: auto;
  margin: 0 auto;
  h2{
    margin-top: 40px;
    text-align: center;
  }
  .dataTables_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 40px;
    height: auto;
    overflow: hidden;
    // width: 100% !important;
    .dataTables_filter {
      width: 90%;
      display: flex;
      justify-content: center;
      margin-bottom: 35px;

      label {
        width: 100%;
        input {
          width: 100%;
          height: 54px;
          margin: 0;
          border: 1px solid $green;
          border-radius: 3px;
          padding-left: 33px;
          padding-right: 20px;
          font-size: 16px;
          font-style: italic;
          &::placeholder {
            color: lighten(#9b9b9b, 20%);
          }
        }
      }
    }
  }
  .table-pagnation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: $font;
    font-size: 16px;
    margin: 60px 0 60px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 157px;
      &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        op: calc(50% - 7.5px);
        left: 0px;
        background-image: url('../icons/arrow-grey.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        // transform: rotate(180deg);
      }
      &::after {
        cursor: pointer;
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: calc(50% - 7.5px);
        right: 0px;
        background-image: url('../icons/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}
.dataTable {
  font-family: $font;
  border-radius: 6px 6px 0 0;
  box-shadow: $drowpShadow;
  width: 100% !important;
  @media #{$tablet-portrait} {
    border-radius: 0;
    box-shadow: none;
  }
  thead {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    @media #{$tablet-portrait} {
      display: none;
    }
    tr {
      border-radius: 6px 6px 0 0;
      height: 50px;
      background-color: $lightGreen;
      display: flex;
      justify-content: space-around;
      flex-flow: row nowrap;
      align-items: center;
      transition: all 300ms ease;
      th {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 10%;
        // padding-left: 20px;
        // min-width: 55px;
        font-weight: inherit;
        &:not(:last-child)::after{
          position: absolute;
          content: '';
          width: 10px;
          height: 5px;
          top: 50%;
          margin-left: 10px;
          background-image: url('../icons/CaretOutline.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        &:active:not(:last-child), &:focus:not(:last-child), &:hover:not(:last-child) {
          &::after {
            background-image: url('../icons/CaretGreen.svg');
          }

        }
        @media #{$tablet-portrait} {
          width: 75px;
        }
      }
      th:first-child {
         width: 30%;
         padding-left: 10px;
        // min-width: 100px;
        justify-content: flex-start;
        @media #{$tablet-portrait} {
          width: 20%;
        }
      }
    }
  }

  tbody {
    background-color: #fff;
    @media #{$tablet-portrait} {
      display: flex;
      flex-flow: row wrap;
      background-color: transparent;
      justify-content: space-between;
    }
      @media #{$phone} {
        justify-content: center;
      }
    tr {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      // height: auto;
      height: 84px;
      overflow: hidden;
      transition: all 300ms ease;
      border-top: 1px solid $lightGrey;
      &:hover {
        background-color: $lightGreen;
      }

      @media #{$tablet-portrait} {
        max-width: 260px;
        min-width: 200px;
        width: 100%;
        height: 400px;
        margin: 15px 0;
        padding: 64px 0;
        background-color: #fff;
        display: flex;
        flex-flow: row wrap;
        box-shadow: $drowpShadow;
      }
      th {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        width: 10%;
        // padding-left: 20px;
        // min-width: 55px;
        @media #{$phone} {
          min-width: 75px;
          width: 100%;
        overflow: hidden;
        }
        @media #{$tablet-portrait} {
          width: 100%;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 3vw;
          height: 3vw;
          margin: 0 10px 0 0;
          @media #{$tablet-portrait} {
            width: 96px;
            height: 96px;
            margin: 0 0 14px 0;
          }
          img {
            width: 3vw;
            height: 3vw;
            @media #{$tablet-portrait} {
              width: 96px;
              height: 96px;
            }
          }
        }
      }
      th:first-child {
        width: 30%;
        padding-left: 10px;
        justify-content: flex-start;
        @media #{$tablet-portrait} {
          display: flex;
          flex-flow: column;
          width: 100%;
        }
        @media #{$tablet-portrait} {
          width: 100%;
        }
      }
      .theExpander {
        // padding-left: 20px;

        @media #{$tablet-portrait} {
          width: 100%;
          height: 44px;

        }
        span {
          margin: 0;
        }
      }
      .desk {
        @media #{$tablet-portrait} {
          height: 0;
          overflow: hidden;
        }
      }
      .mobile {
        height: 0;
        display: none;
        @media #{$tablet-portrait} {
          height: 44px;
          display: flex;
          overflow: hidden;
        }
    }
    }
    .activateAuthor {
      color: #fff;
      font-weight: 500;
      background-color: $green;
      &:hover {
        background-color: $green;
      }
      height: 110vh;
      align-items: flex-start;
      padding-top: 20px;
      @media #{$tablet-portrait}{
        position: absolute;
        overflow: visible;
      }
      .statistics {
        opacity: 0;
      }
    }
  }
}


.auth-details-container {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  top: 80px;
  left: 0;
  width: 100%;
  height: auto;
  min-height: calc(100% - 80px);
  background-color: #fff;
  z-index: 3;
  transition: all 300ms ease;
  @media #{$tablet-portrait}{
    position: absolute;
    overflow: visible;
    width: 60vw;
  }
  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #000;
  }
  .info-container {
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px 0 0;
    &__statistics {
      display: flex;
      flex-flow: row wrap;
      width: 40%;
      background-color: tomato;
      // margin-top: 30px;
      .statPanel {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 172px;
        color: #000;
        background-color: $lightGreen;
        border-right: 1px #fff solid;
        border-bottom: 1px #fff solid;
        &::before {
          position: absolute;
          content: '';
          width: 18px;
          height: 18px;
          top: calc(25% - 9px);
          left: calc(50% - 9px);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &::after {
          display: flex;
          justify-content: flex-start;
          position: absolute;
          color: $grey;
          font-weight: 300;
          font-size: 14px;
          height: 18px;
          bottom: calc(25% - 9px);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .articles {
        position: relative;
        &::before {
          background-image: url('../icons/articles-black.svg');
        }
        &::after {
          content: 'Articles';
        }
      }
      .active {
        position: relative;
        &::before {
          background-image: url('../icons/active-black.svg');
        }
        &::after {
          content: 'Active since';
        }
      }
      .language {
        position: relative;
        &::before {
          background-image: url('../icons/language-black.svg');
        }
        &::after {
          content: 'Language';
        }
      }
      .graphs {
        position: relative;
        &::before {
          background-image: url('../icons/graph-black.svg');
        }
        &::after {
          content: 'Graphs';
        }
      }
      .likes {
        position: relative;
        &::before {
          background-image: url('../icons/likes-black.svg');
        }
        &::after {
          content: 'Likes';
        }
      }
      .dislikes {
        position: relative;
        &::before {
          background-image: url('../icons/dislikes-black.svg');
        }
        &::after {
          content: 'Dislikes';
        }
      }
    }
    .author-contact {
      width: 40%;
      height: (182 * 3 )*1px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      // padding-top: 30px;
      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;

        &__text {
          width: 70%;
          font-size: 15px;
          line-height: 28px;
          h2 {
            text-align: left;
          }
          a {
            color: $grey;
          }
        }
        &__img {
          width: 144px;
          height: 144px;
          background-position: top center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .message-container {
        width: 90%;
        height: 60%;

        form {
          height: (172 * 1.5)*1px;
          width: 100%;
          height: 90%;
          display: flex;
          flex-flow: column;
          justify-content: space-around;
          align-items: flex-end;

          textarea {
            display: flex;
            align-items: flex-start;
            height: 80%;
            width: 100%;
            padding: 15px;
            border: 1px solid $green;
            border-radius: 3px;
          }
        }
      }
    }
  }
  .status-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #FFF;
    h2 {
      margin: 45px 0 20px;

    }
    table {
      width: 100%;
      border-radius: 0;
      border-bottom: 1px solid $lightGrey;
      margin-bottom: 50px;
      border-top: none;
      @media #{$tablet-portrait}{
        display: block;
      }
      tr {
        height: auto;
        min-height: 31px;
        background-color: #fff;
        color: $grey;
        display: flex;
        justify-content: space-around;
        border-radius: 0;
        @media #{$tablet-portrait}{
          display: block;
        }
        th {
          padding: 0;
          width: 45%;
          padding: 0 0 0 25px;
          overflow: visible;
          font-size: 14px;
          text-align: start;
          &::after {
            background-image: none;
          }
          &:hover {
            &::after {
              background-image: none;
            }
          }
        }
        th:last-child {
          display: flex;
          justify-content: flex-end;
          padding: 0 45px 0 0;
        }
      }
      thead {
        tr {
          background-color: $lightGreen;
          border-bottom: 1px solid $lightGrey;
        }
      }
      tbody{
        tr {
          border: none;
          th {
            font-size: 14px;
            text-align: start;
          }
        }
        tr:not(:last-child) {
          border-bottom: 1px solid $lightGrey;
        }
      }

    }
  }
}

.btnAuthorExpand.btnAuthorExpand.btnAuthorExpand.btnAuthorExpand {
  position: relative;
  cursor: pointer;
  @media #{$tablet-portrait} {
    height: 44px;
    width: 60%;
  }
  &::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    background-image: url('../icons/accord_plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  @media #{$tablet-portrait} {
    &::before {
      position: absolute;
      content: 'Send message';
      width: 100%;
      height: 44px;;
      top: 16px;
      left: 0;
      background-image: none;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

}

.btnAccordActive.btnAccordActive.btnAccordActive.btnAccordActive {
  &::before {
    top: calc(50% - 8px);
    background-image: url('../icons/accord_minus.svg');
  }
}
