
  /*OUR CODE*/
  .owl-item:first-child{
    margin-left: 0;
  }
    .owl-item{
      width: 280px !important;
      height: 270px;
      border-radius: 3px;
      display: flex;
      flex-flow: column;
      background-color: #fff;
      margin: 20px;
      box-shadow: $drowpShadow;

      &__image{
        width: 100%;
        height: 170px;
        border-radius: 6px 6px 0 0;
        background-size: cover;
      }
      .carousel_img1{
        background-image: url('../img/articlesImage1.jpg');
      }
      .carousel_img2{
        background-image: url('../img/articlesImage2.jpg');
      }
      .carousel_img3{
        background-image: url('../img/articlesImage3.jpg');
      }
      .carousel_img4{
        background-image: url('../img/articlesImage4.jpg');
      }
      &__info{
        display: flex;
        flex-flow: column;
        width: 100%;
        &__title{
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          width: calc(100% - 40px);
          margin-left: 20px;
          h3{
            width: 170px;
            font-size: 16px;
            font-weight: 300;
            margin-top: 10px;
            color: #000;
          }
          p{
            font-size: 12px;
            margin-top: 10px;
            color: $grey;
          }
        }
        &__author{
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          width: calc(100% - 40px);
          margin-top: 10px;
          margin-left: 20px;
          p{
            font-size: 12px;
            display: flex;
            img{
                width: 12px;
                margin-right: 8px;
              }
          }
        }
      }
    }
