.dashboard__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  &__weekStatistics {
    z-index: 1;
    width: 90%;
    height: 130px;
    margin-top: 6px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    @media #{$phone} {
      height: 100px;
      width: 96%;
    }
    &__content {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin: 10px;
        @media #{$phone} {
          width: 12px;
          height: 12px;
          margin: 8px;
        }
      }
      span {
        font-family: $font;
        font-weight: 500;
        color: black;
        font-size: 16px;
        line-height: 28px;
        @media #{$phone} {
          font-size: 13px;
        }
      }
      p {
        font-weight: 300;
        font-size: 14px;
        color: $grey;
        line-height: 28px;
        @media #{$phone} {
          font-size: 13px;
        }
      }
    }
  }
  &__weekStatistics_hide {
    position: relative;
    overflow: hidden;
    top: -110px;
    display: none;
    transition: opacity 0.25s ease;
  }
  .btnWeekStatistics {
    // position: absolute;
    // top: 130px;
    z-index: 3;
    background: $lightGrey;
    border-radius: 50px;
    width: 80%;
    height: 10px;
    margin-bottom: 4px;
    // border: 1px solid #CDCDCD;
    background-image: url('../icons/arrow_up.svg');
    background-size: 12px 12px;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    transition: all 0.3s ease;
  }
  .btnWeekStatistics_hide {
    top: 20px;
    background-image: url('../icons/arrow_down.svg');
    transition: opacity 0.25s ease;

  }
  .btnWeekStatistics_text {
    width: 100%;
    display: none;
    margin-top: 6px;
    transition: opacity 0.25s ease;
    h3 {
      text-align: center;
      font-size: 12px;
    }
  }
  .btnWeekStatistics_text_show {
    display: block;
  }
  .btnWeekStatistics_line {
    width: 100%;
    border-bottom: 1px solid lighten($grey, 40%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  &__headlineFilter {
    width: 90%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media #{$phone} {
      flex-flow: column;
      margin-bottom: 20px;
    }
    &__text {
      h2 {
        font-size: 18px;
      }
      @media #{$phone} {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    &__filter {
      position: relative;
      .filterButton {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        width: 250px;
        height: 40px;
        background: #f8f8f8;
        border-radius: 40px;
        border: 1px solid #eeeeee;
        p {
          font-size: 12px;
          color: $grey;
        }
      }
      .filterButton_top {
        position: absolute;
        top: 0;
        box-shadow: $drowpShadow;
        width: 85px;
        height: 40px;
        background: white;
        border-radius: 40px;
        border: 1px solid #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-size: 12px;
          font-weight: 500;
          color: black;
        }
      }
    }
  }
  &__mainDash {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @media #{$tablet-portrait} {
      flex-flow: column;
    }
    .card {
      background: white;
      overflow: hidden;
      box-shadow: $drowpShadow;
      width: 100%;
      border-radius: 6px;
      margin-bottom: 40px;
      .cardHeader {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background: $lightGreen;
        border-radius: 6px 6px 0 0;
        border-bottom: 1px solid #eeeeee;
        h3 {
          font-weight: 300;
          color: black;
          text-indent: 20px;
        }
      }
    }
    .leftColumn {
      width: 45%;
      @media #{$tablet-portrait} {
        width: 100%;
      }
      .articlePerformance {
        height: 350px;
        @media #{$phone} {
          height: 100%;
        }
        @media #{$tablet-landscape} {
          height: 280px;
        }
        @media #{$tablet-portrait} {
          height: 100%;
        }

        &__container {
          padding: 20px;
          p {
            text-align: center;
          }
        }
      }
      .clickRate {
        height: 400px;
        @media #{$phone} {
          height: 100%;
        }
        @media #{$tablet-landscape} {
          height: 280px;
        }
        @media #{$tablet-portrait} {
          height: 100%;
        }

        &__container {
          padding: 20px;
          p {
            text-align: center;
          }
        }
      }
    }
    .rightColumn {
      width: 52%;
      @media #{$tablet-portrait} {
        width: 100%;
      }
      .authors {
        height: 460px;
        @media #{$phone} {
          height: 100%;
        }
        @media #{$tablet-portrait} {
          height: 100%;
        }
        .authorTableIcons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          width: 50%;
          img {
            width: 18px;
            height: 18px;
          }
          img:first-child {
            width: 28px;
          }
        }
        &__cardContent {
          display: flex;
          flex-flow: column;
          width: 100%;
          &__first {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 70px;
            border-bottom: 1px solid #eeeeee;
            &__picName {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              width: 50%;
              margin-left: 20px;
              p {
                align-items: center;
                text-indent: 10px;
                justify-content: center;
              }
              img {
                width: 50px;
              }
            }
            &__numbers {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-around;
              align-items: center;
              width: 50%;
              span {
                font-family: $font;
                font-weight: 300;
                color: $grey;
                font-size: 14px;
              }
            }

          }
        }
      }
      .trendingTopics {
        height: 290px;
        @media #{$phone} {
          height: 100%;
        }
        @media #{$tablet-landscape} {
          height: 220px;
        }
        @media #{$tablet-portrait} {
          height: 100%;
        }
        &__container {
          padding: 20px;
        }
      }
    }

  }
  &__secondDash {
    width: 95%;
    margin-left: 5%;
    }
}
