.header {
  width: 100vw;
  z-index: 2;
  background-color: $green;
  position: relative;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
  &__nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media #{$phone} {
      height: 70px;
    }
    &__logo{
      display: inline-flex;
      align-items: center;
      width: 95px;
      &__anchor {
        position: absolute;
        left: 30px;
        top: calc(50% - 20px);
        @media #{$phone} {
          left: 20px;
          top: calc(50% - 16px);
        }
        img {
          height: 44px;
          @media #{$phone} {
            height: 36px;
          }
        }
      }
    }
    &__user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #FFFFFF;
      width: 130px;
      span {
        font-family: $font;
        position: relative;
        overflow: visible;

        &::after {
          position: absolute;
          content: '';
          background-image: url('../icons/caret.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          width: 10px;
          height: 10px;

          right: -20px;
          top: calc(50% - 2.5px);
          z-index: 1;
        }
      }

    }
  }
}

.header__nav__user {
  position: relative;
  &__dropdown {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    position: absolute;
    width: 145px;
    height: 80px;
    background: #fff;
    border: 1px solid lighten($grey, 40%);
    border-radius: 3px;
    left: -44px;
    bottom: -120px;
    padding: 1px;
    transform: scale(0);
    z-index: 4;
    box-shadow: $drowpShadow;
    transition: all 200ms ease;
    &::after {
      position: absolute;
      content: '';
      transform: rotate(-45deg);
      top: -7px;
      right: 30px;
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-top: 1px solid lighten($grey, 40%);
      border-right: 1px solid lighten($grey, 40%);
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      color: #999999;
      text-indent: 20px;
      width: 100%;
      height: 50%;
      background-color: #fff;
      transition: all 300ms ease;
      z-index: 5;
      &:hover {
        background-color: #FAFAFA;
      }
    }
  }

}

.showDropdown {
  transform: scale(1);
}
