.heatmap__container {
  margin: 0 auto;
  display: flex;
  width: 90%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .heatMap {
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: $drowpShadow;
    img {
      width: 90%;
      margin: 5%;
    }
  }
}
