.body-container__view-container__login-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $loginBlue;
  .login__logo__anchor {
    margin-bottom: 1%;
    img{
      width: 157px;
    }
  }
  .login__box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 44%;
    @media #{$large-desktop} {
      // height: 70%;
      width: 70%;
    }
    @media #{$tablet-portrait} {
      // height: 70%;
      width: 90%;
    }
    @media #{$phone} {
      // height: 70%;
      width: 90%;
    }
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: $drowpShadow;
    h2 {
      color: $green;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 6%;
      @media #{$phone} {
        margin-top: 6%;
      }
    }
    .btnLoginContainer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 50%;
      @media #{$phone} {
        width: 80%;
      }
    }
    .btnSignInAs {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: center;
      width: 122px;
      height: 122px;
      //margin: 20px;
      background-color: #fff;
      border: 1px solid $lightGrey;
      border-radius: 3px;
      padding-bottom: 12px;
      font-family: $font;
      font-size: 10px;
      font-weight: 500;
      color: black;
      &:hover {
          border: 1px solid lighten($green, 30%);
          box-shadow: $drowpShadow;
      }
    }
    .author {
      background-image: url('../icons/he.svg');
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center 21px;
    }
    .editor {
      background-image: url('../icons/she.svg');
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center 18px;
    }
    &__form {
      width: 100%;
      justify-content: center;
      align-items: center;
      @media #{$phone} {
        margin-bottom: 30px;
      }
      &__input {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        input {
          border: 1px solid $lightGrey;
          border-radius: 3px;
          padding: 10px;
          width: 70%;
          margin-bottom: 8px;
          &::placeholder {
            color: #B0BEC5;
          }
          &:focus{
            border: 1px solid lighten($green, 30%);
          }
        }
        .btnForgotPassword {
          position: absolute;
          background-color: white;
          border-left: 1px solid $lightGrey;
          padding: 4px;
          padding-left: 26px;
          right: 120px;
          top: 50px;
          color: $green;
          @media #{$phone} {
            right: 70px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__btn {
        display: flex;
        flex-flow: row nowrap;
        width: 70%;
        margin: auto;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;
        button {
          @media #{$phone} {
            width: 70%;
          }
        }
        @media #{$phone} {
          width: 100%;
          flex-flow: column;
        }
        h3 {
          font-family: $font;
          font-size: 12px;
          font-weight: 300;
          color: $grey;
          text-indent: 10px;
          @media #{$phone} {
            margin-bottom: 30px;
            margin-top: 20px;
          }
          span {
            color: $green;
            font-weight: 500;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    &__message{
      margin: 30px auto;
      @media #{$phone} {
        margin: 12px auto;
      }
      p{
        font-size: 12px;
        text-align: center;
        line-height: 18px;
      }
    }
    .hiddenMessage {
      visibility: hidden;
    }
    .showMessage {
      visibility: visible;
    }
  }
}
