.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  &__container {
    width: 90%;
    position: absolute;
    top: 100px;
    margin-bottom: 10%;
    background: white;
    box-shadow: $drowpShadow;
    &__topBar {
      display: flex;
      align-items: center;
      width: 100%;
      background: $green;
      height: 85px;
      border-radius: 3px 3px 0 0;
      .profile_image {
        img {
          border-radius: 50px;
          width: 90px;
          margin-top: -80px;
          margin-left: 30px;
        }
        .img_overlay {
          background: rgba(0, 0, 0, 0.60);
          opacity: 0;
          position: absolute;
          z-index: 2;
          text-align: center;
          border-radius: 50px;
          width: 90px;
          height: 90px;
          margin-top: -93px;
          margin-left: 30px;
          -webkit-transition: opacity 0.25s ease;
          span img {
            width: 20px;
            height: 20px;
            border-radius: unset;
            margin: 0 auto;
            margin-top: 33px;
          }
        }
        &:hover {
          .img_overlay {
            opacity: 1;
          }
        }
      }
      h2 {
        color: white;
        font-weight: 500;
        text-indent: 20px;
        font-size: 16px;
        span {
          font-weight: 500;
          color: #C2EDE4;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
        @media #{$phone} {
          width: 60%;
          padding-left: 20px;
          text-indent: 0px;
          line-height: 24px;
        }
      }
      img.editIcon {
        width: 15px;
        border-radius: unset;
        margin-left: 6px;
      }
    }
    &__profile {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $lightGrey;
      @media #{$phone} {
       flex-flow: column;
      }
    }
    &__profileInfo {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      background: white;
      margin-top: 5%;
      margin-bottom: 5%;
      img.editIcon {
        width: 15px;
        border-radius: unset;
        margin-left: 6px;
      }
      &__email, &__password, &__phone {
          display: flex;
          width: 80%;
          justify-content: space-between;
          h3{
            font-size: 15px;
            font-weight: 300;
            color: $grey;
            line-height: 36px;
          }
      }
      &__email h3 {
        font-weight: 500;
      }
    }
    &__profileEdit {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 40%;
      margin-top: 5%;
      margin-bottom: 5%;
      span {
        color: $green;
        font-family: $font;
        font-weight: 500;
        font-size: 14px;
        width: 100%;

        line-height: 36px;
        &:hover {
          text-decoration: underline;
        }
      }
      @media #{$phone} {
        margin-bottom: 20px;
      }
    }
    &__profileBio {
      display: flex;
      flex-flow: row nowrap;
      @media #{$phone} {
       flex-flow: column;
      }
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: 0 auto;
      &__text {
        display: flex;
        flex-flow: column;
        width: 65%;
        background: white;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        h3 {
          line-height: 36px;
        }
        @media #{$phone} {
          width: 100%;
        }
      }
      &__edit {
        width: 35%;
        padding-left: 9.5%;
        span {
          color: $green;
          font-family: $font;
          font-weight: 500;
          font-size: 14px;
          width: 40%;
          &:hover {
            text-decoration: underline;
          }
          img.editIcon {
            width: 15px;
            border-radius: unset;
            margin-left: 6px;
          }
        }
        @media #{$phone} {
          width: 70%;
          margin-bottom: 40px;
        }
      }
    }
  }

}
