.body-container__sidebar-container {
  position: relative;
  left: 0;
  height: 100%;
  padding-top: 100px;
  width: 200px;
  background-color: $blue;
  @media #{$tablet-portrait} {
    padding-top: 40px;
  }
  @media #{$phone} {
    left: -100vw;
    width: 100vw;
    display: flex;
    position: absolute;
    z-index: 1;
    transition: all 300ms ease;
  }
  &__mobile-nav-container{
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 50px;
    background-color: $blue;
    @media #{$phone}{
      display: flex;
    }
    &__burger{

      display: none;
      cursor: pointer;
      flex-flow: column;
      position: fixed;
      bottom: 15px;
      left: 15px;
      justify-content: space-between;
      width: 20px;
      height: 17px;
      overflow: hidden;
      transition: all 200ms ease;
      z-index: 2;
      span {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: #fff;;
        z-index: 1;
        transition: all 200ms ease;
        opacity: 1;
        @media #{$phone} {
          background-color:#fff;
        }
      }
      @media #{$phone} {
        display: flex;
      }
      // @media #{$tablet-portrait} {
      //   display: none;
      // }
    }
  }



  .burgerActive {
    // justify-content: center;
    span {
      background-color: #fff;
    }
    span:nth-child(1) {
       top: calc(50% - 1px);
      transform: rotate(-135deg);
    }
    span:nth-child(2) {
    opacity: 0;
    }
    span:nth-child(3) {
       bottom: 50%;
      transform: rotate(-45deg);
    }
  }

}
.setLeft {
  left:0;
}
.body-container__sidebar-container__sidebar {
  display: flex;
  align-items: flex-start;
  margin: 100px auto 0;
  flex-flow: column;
  width: 100%;
  @media #{$tablet-portrait} {
    // align-self: center;
    // margin: 200px 0 0;
  }
  @media #{$phone} {
    margin: 20px auto 0;
  }
  a {
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: space-evenly;
    position: relative;
    // text-indent: 74px;
    text-align: left;
    text-transform: uppercase;
    color: $fontGrey;
    font-size: 14px;
    letter-spacing: 1px;
    height: 60px;
    padding-left: 57px;
    background-color: $blue;
    transition: all 200ms ease;
    @media #{$phone} {
      padding-left: 130px;
      font-size: 22px;
      height: 85px;
    }
    &::before {
      // margin-left: 10px;
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 17px;
      @media #{$phone} {
        left: 80px;
      }
    }
    &:hover {
        background-color: darken($blue, 10%);
        color: white;
        font-weight: 500;
      }
    }

    .sidebarActive {
      background-color: darken($blue, 10%);
      color: white;
      font-weight: 500;
    }
    .sidebarActive_dash {
        &::before {
          background-image: url('../icons/dashboard_green.svg');
        }
    }
    .sidebarActive_graph {
        &::before {
          background-image: url('../icons/graphs_green.svg');
        }
    }
    .sidebarActive_heat {
        &::before {
          background-image: url('../icons/heatmap_green.svg');
        }
    }
    .sidebarActive_auth {
        &::before {
          background-image: url('../icons/authors_green.svg');
        }
    }
    .sidebarActive_trend {
        &::before {
          background-image: url('../icons/trends_green.svg');
        }
    }

  &__dash {
    &::before {
      width: 22px;
      height: 22px;
      background-image: url('../icons/dashboard.svg');

      // top: calc(50% - 11px);
    }
    &:hover{
      &::before {
        background-image: url('../icons/dashboard_green.svg');
      }
    }
  }
  &__graph {
    &::before {
      width: 22px;
      height: 22px;
      background-image: url('../icons/graphs.svg');
    }
    &:hover {
      &::before {
        background-image: url('../icons/graphs_green.svg');
      }
    }
  }
  &__heat {
    &::before {
      width: 22px;
      height: 22px;
      background-image: url('../icons/location.svg');
    }
    &:hover {
      &::before {
        background-image: url('../icons/heatmap_green.svg');
      }
    }
  }
  &__auth {
    &::before {
      width: 22px;
      height: 22px;
      background-image: url('../icons/authors.svg');
    }
    &:hover {
      &::before {
        background-image: url('../icons/authors_green.svg');
      }
    }
  }
  &__trend {
    &::before {
      width: 22px;
      height: 22px;
      background-image: url('../icons/document.svg');
    }
    &:hover {
      &::before {
        background-image: url('../icons/trends_green.svg');
      }
    }
  }
}
