
.btn {
  height: 30px;
  width: 83px;
  color: #fff;
  background-color: $green;
  font-family: Roboto;
  font-size: 12.1px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  border-radius: 3px;
  transition: all 300ms ease;
  &:hover {
    background-color: $btnHover;
  }
  &:active {
    background-color: $btnHover;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.20);
  }
}
