
.body-container__view-container {
  position: relative;
  .page {
    position: absolute;
    width: 100%;
    //height: 100%;
    transform: scale(0);
  }
  .showPage {
    transform: scale(1);
    overflow: scroll;
  }
}
