* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:active, &:focus {
    outline: none;
  }
}

button, input {
  border: none;
}
button {
  cursor: pointer;
}

html, body {
  background-color: $lightGrey;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

a{
  text-decoration: none;
}
