@import url('https://fonts.googleapis.com/css?family=Roboto:100,300i,500');
$font: 'Roboto', sans-serif;

h1 {
  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  color: $blue;
}

h2 {
  font-family: $font;
  font-size: 18px;
  font-weight: 300;
  color: #000;

}

h3 {
  font-family: $font;
  font-size: 15px;
  font-weight: 500;
  color: $grey;
  line-height: 22px;
}

p {
  font-family: $font;
  font-size: 14px;
  font-weight: 100;
  color: $grey;
  line-height: 30px;
}

a {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  color: $lightGrey;
  line-height: 30px;
}
