//  primari colors
$blue: #34495E;
$green: #4EC9B0;
$lightGreen: #F4FBFA;
$lightGrey: #F1F2F5;
$loginBlue: radial-gradient(51% 96%, #4B6D8A 49%, #34495E 96%);
// secondary colors
$orange: #FF6565;
$lightOrange: #FDECE4;

// font colors
$grey: #7B7F85;
// sidebar font col
$fontGrey: #94A4A6;

// btn hover
$btnHover: #40BFA3;

//
$drowpShadow: 0 0 4px 0 rgba(0,0,0,0.12);

//varibles for mediaqueries
$phone : 'only screen and (max-width : 420px)';
$tablet-portrait: 'only screen and (max-width : 769px)';
$tablet-landscape: 'only screen and (max-width : 1025px)';
$large-desktop: 'only screen and (max-width : 1200px)';


// how to use example
// @media #{$phone} {
//  background: red;
//}
